.bg {
  position: fixed;
  top: 0%;
  left: 0%;
  width:  100%;
  height: 100%;
  z-index: -5;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 10%;
  min-height: 10%;
  max-width: 100%;
  z-index: 1;

}

.star_chart {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  background-color: black;
  z-index: 3;
  position: absolute;
  left: 375px;
  top: 60px;
  box-sizing: border-box;
  max-width: 100%
  min-width: 50%

}

.star_chart img {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 650px
  height: 650px

}


#polaris_button {
  position: absolute;
  left: 290px;
  top: 281px;
  z-index: 2;
  background-color: #3f85f4;
  border-radius: 100%;
  border-color: #3f85f4;
  height: 10px;
  width: 3px;
  -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

  #polaris_button:hover {
      background-color: #022968;
      color: white;

  }

  #polaris_button:focus {
    background-color: #000033;
    color: white;

  }


.instructions {
 width: 200px;
 height:75px;
 border: 1px solid black;
 background-color: black;
 z-index: 3;
 position: absolute;
 left: 100px;
 top: 200px;
 box-sizing: border-box;
 max-width: 100%
 min-width: 50%

}

.instructions p{
  color: white;
  font-family: monospace, "liberation mono" ;
}

#nav {
  background-color: black;
  font-family: monospace, "liberation mono";
  border-color: black;

}

#betelgeuse_button {  position: absolute;
  left: 485px;
  top: 385px;
  z-index: 2;
  background-color: #3f85f4;
  border-radius: 100%;
  border-color: #3f85f4;
  height: 10px;
  width: 3px;
  -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

  #betelgeuse_button:hover {
      background-color: #022968;
      color: white;

  }

  #betelgeuse_button:focus {
    background-color: #000033;
    color: white;
  }

  #sirius_button {  position: absolute;
    left: 505px;
    top: 467.5px;
    z-index: 2;
    background-color: #3f85f4;
    border-radius: 100%;
    border-color: #3f85f4;
    height: 10px;
    width: 3px;
    -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
      }

    #sirius_button:hover {
        background-color: #022968;
        color: white;

    }

    #sirius_button:focus {
      background-color: #000033;
      color: white;
    }

    #vega_button {  position: absolute;
      left: 175px;
      top: 200px;
      z-index: 2;
      background-color: #3f85f4;
      border-radius: 100%;
      border-color: #3f85f4;
      height: 10px;
      width: 3px;
      -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
        }

      #vega_button:hover {
          background-color: #022968;
          color: white;

      }

      #vega_button:focus {
        background-color: #000033;
        color: white;
      }
